<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add a bunny friend!</title>
</head>
<body>
	<h1>Add a new bunny!</h1>
	<form method="post" action="/bunny">
		<p>Name:<input type="text" name="name"></p>
		<p>Age:<input type="number" name="age"></p>
		<p>Hobbies:<input type="text" name="hobbies"></p>
		<input type="submit" value="Submit">
	</form>
	<a href="/"><button>Go back to see my bunny friends!</button></a>
</body>
</html>