<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BunnyFriend</title>
</head>
<body>
	
	<p>Hello!</p>
	<p> My name is <%= bunny.name %> </p>
	<p> I am <%= bunny.age %> years old.</p>
	<p> My hobbies are: <%= bunny.hobbies %> </p>
	<a href="/"><button>Go back to see my other bunny friends</button></a>
</body>
</html>